## 第二次课程

Author：马欣驰

Date：2022年9月13日

In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

#输出或者打印的时候，不限制列或者行
#pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [2]:
data = pd.read_csv('C:/Users/hp/Desktop/Python/2/000001.csv')
data['Day'] = pd.to_datetime(data['Day'], format = '%Y-%m-%d')
data.set_index('Day', inplace = True)
data.sort_values(by = ['Day'], axis=0, ascending=True) # 尝试axis=1 (尝试后无法运行)
# SAS 每一次数据处理都要进行排序
data #7724*7

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

## 计算收益率
- 一般收益率使用收盘价格计算

- $R_t = (p_t - p_{t-1}) / p_{t-1}$

- Log_return: $r_t = log(p_t) - log(p_{t-1})$

In [4]:
index = data['2000-01':'2022-07'].copy()
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
2000-01-04,1366.58,1368.69,1407.52,1361.21,1406.37,903282400,5.801142e+09
2000-01-05,1406.37,1407.83,1433.78,1398.32,1409.68,1057939200,8.652696e+09
2000-01-06,1409.68,1406.04,1463.95,1400.25,1463.94,1348051700,1.023807e+10
2000-01-07,1463.94,1477.15,1522.83,1477.15,1516.60,3486939600,2.207351e+10
2000-01-10,1516.6,1531.71,1546.72,1506.40,1545.11,3125304600,2.092877e+10
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [5]:
index['Close'] = pd.to_numeric(index['Close'])
index['Preclose'] = pd.to_numeric(index['Preclose'])
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
2000-01-04,1366.58,1368.69,1407.52,1361.21,1406.37,903282400,5.801142e+09
2000-01-05,1406.37,1407.83,1433.78,1398.32,1409.68,1057939200,8.652696e+09
2000-01-06,1409.68,1406.04,1463.95,1400.25,1463.94,1348051700,1.023807e+10
2000-01-07,1463.94,1477.15,1522.83,1477.15,1516.60,3486939600,2.207351e+10
2000-01-10,1516.60,1531.71,1546.72,1506.40,1545.11,3125304600,2.092877e+10
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [7]:
# 计算上证指数的收益率 效率更高 向量计算
index['Raw_return'] = index['Close'] / index['Preclose'] - 1
index['Log_return'] = np.log(index['Close']) - np.log(index['Preclose'])
index['Stupid_return'] = 0
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money,Raw_return,Log_return,Stupid_return
Day,,,,,,,,,,
2000-01-04,1366.58,1368.69,1407.52,1361.21,1406.37,903282400,5.801142e+09,0.029116,0.028701,0
2000-01-05,1406.37,1407.83,1433.78,1398.32,1409.68,1057939200,8.652696e+09,0.002354,0.002351,0
2000-01-06,1409.68,1406.04,1463.95,1400.25,1463.94,1348051700,1.023807e+10,0.038491,0.037769,0
2000-01-07,1463.94,1477.15,1522.83,1477.15,1516.60,3486939600,2.207351e+10,0.035971,0.035340,0
2000-01-10,1516.60,1531.71,1546.72,1506.40,1545.11,3125304600,2.092877e+10,0.018799,0.018624,0
...,...,...,...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11,-0.005988,-0.006006,0
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11,0.008322,0.008288,0
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11,-0.000513,-0.000513,0
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11,0.002082,0.002080,0
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11,-0.008938,-0.008978,0

In [8]:
for i in range(0,5470):
    index.iloc[i,9] = index.iloc[i,4] / index.iloc[i,0] -1
    # tab自动对齐 判断优先级
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money,Raw_return,Log_return,Stupid_return
Day,,,,,,,,,,
2000-01-04,1366.58,1368.69,1407.52,1361.21,1406.37,903282400,5.801142e+09,0.029116,0.028701,0.029116
2000-01-05,1406.37,1407.83,1433.78,1398.32,1409.68,1057939200,8.652696e+09,0.002354,0.002351,0.002354
2000-01-06,1409.68,1406.04,1463.95,1400.25,1463.94,1348051700,1.023807e+10,0.038491,0.037769,0.038491
2000-01-07,1463.94,1477.15,1522.83,1477.15,1516.60,3486939600,2.207351e+10,0.035971,0.035340,0.035971
2000-01-10,1516.60,1531.71,1546.72,1506.40,1545.11,3125304600,2.092877e+10,0.018799,0.018624,0.018799
...,...,...,...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11,-0.005988,-0.006006,-0.005988
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11,0.008322,0.008288,0.008322
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11,-0.000513,-0.000513,-0.000513
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11,0.002082,0.002080,0.002082
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11,-0.008938,-0.008978,-0.008938

# 计算月的收益率 Calculate monthly return

- 大部分交易策略和学术都是使用月频度

- 策略一般高频策略，低频月度

- 学术基本以月度为主

# resample函数

In [11]:
Month_data = index.resample('M')['Log_return'].sum().to_frame()  #M-月度 Q-季度 Y-年度
Month_data['Raw_return'] = np.exp(Month_data['Log_return'])-1
Month_data

            Log_return  Raw_return
Day
2000-01-31    0.116219    0.123242
2000-02-29    0.110638    0.116990
2000-03-31    0.048741    0.049948
2000-04-30    0.019855    0.020053
2000-05-31    0.031218    0.031710
...                ...         ...
2022-03-31   -0.062604   -0.060685
2022-04-30   -0.065154   -0.063077
2022-05-31    0.044724    0.045739
2022-06-30    0.064468    0.066592
2022-07-31   -0.043718   -0.042776

[271 rows x 2 columns]

In [13]:
Month_data2 = index.resample('M')['Close'].last().to_frame()
Month_data2['Preclose'] = Month_data2['Close'].shift(1)
Month_data2['Log_return'] = np.log(Month_data2['Close']) - np.log(Month_data2['Preclose'])
Month_data2

              Close  Preclose  Log_return
Day
2000-01-31  1535.00       NaN         NaN
2000-02-29  1714.58   1535.00    0.110638
2000-03-31  1800.22   1714.58    0.048741
2000-04-30  1836.32   1800.22    0.019855
2000-05-31  1894.55   1836.32    0.031218
...             ...       ...         ...
2022-03-31  3252.20   3462.31   -0.062604
2022-04-30  3047.06   3252.20   -0.065154
2022-05-31  3186.43   3047.06    0.044724
2022-06-30  3398.62   3186.43    0.064468
2022-07-31  3253.24   3398.62   -0.043718

[271 rows x 3 columns]

In [15]:
# 季度
Quarter_data = index.resample('Q')['Log_return'].sum().to_frame()  
Quarter_data['Raw_return'] = np.exp(Quarter_data['Log_return'])-1
Quarter_data

            Log_return  Raw_return
Day
2000-03-31    0.275598    0.317318
2000-06-30    0.068631    0.071041
2000-09-30   -0.009353   -0.009310
2000-12-31    0.082041    0.085501
2001-03-31    0.018776    0.018954
...                ...         ...
2021-09-30   -0.006434   -0.006413
2021-12-31    0.019870    0.020069
2022-03-31   -0.112592   -0.106484
2022-06-30    0.044038    0.045022
2022-09-30   -0.043718   -0.042776

[91 rows x 2 columns]

In [16]:
Quarter_data2 = index.resample('Q')['Close'].last().to_frame()
Quarter_data2['Preclose'] = Quarter_data2['Close'].shift(1)
Quarter_data2['Log_return'] = np.log(Quarter_data2['Close']) - np.log(Quarter_data2['Preclose'])
Quarter_data2

              Close  Preclose  Log_return
Day
2000-03-31  1800.22       NaN         NaN
2000-06-30  1928.11   1800.22    0.068631
2000-09-30  1910.16   1928.11   -0.009353
2000-12-31  2073.48   1910.16    0.082041
2001-03-31  2112.78   2073.48    0.018776
...             ...       ...         ...
2021-09-30  3568.17   3591.20   -0.006434
2021-12-31  3639.78   3568.17    0.019870
2022-03-31  3252.20   3639.78   -0.112592
2022-06-30  3398.62   3252.20    0.044038
2022-09-30  3253.24   3398.62   -0.043718

[91 rows x 3 columns]

# groupby函数

- resample函数要求数据框以时间为索引

- groupby函数不需要以时间为索引